<header class='w-full flex flex-row justify-between  space-x-16  pr-36 py-6 h-24 self-start bg-blue-600'>
<%= link_to path do%>
<svg class="fill-current text-gray-50 w-12 h-12 text-black" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 19l-7-7m0 0l7-7m-7 7h18"></path></svg>
<%end%> 
<div>
  <h2 class='text-lg text-center font-black flex-1 mr-8 py-3 '><%=text%></h2>
</div>

<%= link_to path do%>
<div>
  <svg class="fill-current text-gray-50 w-12 h-12 text-black" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16"></path></svg>
</div>

<%end%> 
</header>